<!DOCTYPE html>
<head>
<style>
    .navigation {
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
    }
    
    .navigation a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
    }
    
    .navigation a:hover {
        background-color: rgb(98, 236, 125);
        color: black;
    }
</style>
</head>
<header>
</header>
<body>
<div class="navigation">
        <a href="{% url 'Scheduler:index'%}">Home</a>
        
        {% if user.id == 1 %}
        <a href="{% url 'Scheduler:students' %}">Student List</a>
        {% endif %}

        {% if user.is_authenticated%}
        <a href="{% url 'Scheduler:student' user.pk%}"> View Schedule</a>
        {% else %}
            <a href="{% url 'Scheduler:login'%}">View Schedule</a>
        {% endif %}

        {% if user.is_authenticated %}
            <a href= "{% url 'Scheduler:logout'%}">Logout</a>
        {% else %}
            <a href="{% url 'Scheduler:login'%}">Login</a>
        {% endif %}  
    </div>

<!--Add Class--> 
<div class="container py-5">
	<h1>Add New Class</h1>
	<form method="POST" id="personForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name = "submit" value="Add Class To Schedule">
    </form>
</div>


<body>